#map { height: 100%; }

.header {
    z-index: 100;
    position: absolute;
    height: 50px;
    width: 100%;
    padding: 10px 0 10px 42px;
    background-color: #4581b7;
}

.leaflet-control-zoom{
    margin-top: 60px !important;
}

.app-name {
    color: white;
    font-weight: bolder;
    font-size: 18px;
    margin-left: 15px;
}

.btn-add-simulasi {
    z-index: 100;
    position: absolute;
    top: 130px;
    left: 12px;
}

.label-popup-add {
    font-size: 16px;
    font-weight: 500;
    padding-top: 5px;
}